* {
  margin: 0%;
  padding: 0%;
}

.header {
  background-color: #a2cbeb;
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px dashed black;
  border-radius: 5px;
}

.containers {
  height: 497px;
  display: flex;
}

.heading {
  margin-left: 400px;
}

.first {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}

.second {
  width: 800px;
}

.third {
  width: 286px;
  background-color: #a2cbeb;
  height: 505px;
  border: 2px solid black;
  border-radius: 5px;
}

.abc {  
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 234px;
  margin-top: 12px;

}

div img {
  position: absolute;
}

.abcd {
  width: 67px;
  height: 27px;
  margin-top: 16px;
  margin-left: 71px;
}


.downloadButton {
  margin-left: 100px;
  margin-top: 10px;
}

.firstData {
  background-color: #a2cbeb;
  height: 505px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 1px;
}

